.button {
    background-color:burlywood;
    color:black;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    font-size:large;
    box-shadow:2px 2px black;
    margin: 5px;
}

.button:hover {
    transform: translate(2px, 2px);
    box-shadow:none;
}