.board {
    display:flex;
    border:15px solid burlywood;
    outline: 2px solid black;
    box-shadow:4px 4px black;
}

.half-board {
    background-color:grey;
    border:2px solid black;
    padding:10px;
    width: 410px;
    height: 325px;
}

.marble {
    background-color:rgb(17, 63, 41);
    border:1px solid black;
    border-radius:100%;
    width: 100px;
    height: 100px;
}

.marble:hover{
    box-shadow: 0 0 5px 5px black;
    opacity:50%;
}

.selected {
    box-shadow: 0 0 5px 5px greenyellow;
}

.game {
    display:grid;
    place-items:center;
    min-height:100vh;
    justify-items:center;
    color: black;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color:burlywood;
    color:black;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    font-size:large;
    box-shadow:2px 2px black;
}

.status {
    background-color:burlywood;
    color:black;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    font-size:large;
    place-items:center;
    box-shadow: 2px 2px black;
    margin: 5px;
}

.button:hover {
    transform: translate(2px, 2px);
    box-shadow:none;
}

.repeat {
    display:none;
}

.rule-viol {
    position:absolute;
    top: 50%;
    place-self:center;
    margin: 0 auto;
    right: 25%;
    left: 25%;
    box-shadow: 2px 2px black;
    /* transform:translate(-50% -50%); */
}