@font-face {
    font-family: "Krona One";
    src: url('../assets/krona-one/KronaOne-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}

h1, h2, h3 {
    font-family: "Krona One";
}

p {
    font-family: Arial;
}

.page {
    width: 100%;
    height: 100%;
    color:black;
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
}

.center {
    width: 100%;
    display:grid;
    place-items:center;
    min-height:100vh;
    justify-items:center;
}

.button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.button.main {
    background-color:#FF0090;
    color:white;
    margin-bottom: 5px;
    border-radius: 10px;
    filter: brightness(100%);
    width:100%;
    height:100%;
    border:none;
}

.game-settings {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 10px;
    font-size:large;
    place-items:center;
    box-shadow:5px 5px black;
}

.button:hover {
    filter:brightness(80%);
}

.button.main:hover {
    box-shadow:0 0 5px 5px rgb(255, 255, 255);
    filter:brightness(110%);
}

.content {
    display:flex;
    justify-items:center;
}